<table>
  <thead>
  <tr>
    <th><h2>Ingredient Input</h2></th>
    <th><h2>Recipe Input</h2></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><app-ingredient-form></app-ingredient-form></td>
    <td><app-recipe-form></app-recipe-form></td>
  </tr>
  <tr>
    <td colspan="2">
      <mat-divider></mat-divider>
      <table>
        <thead>
        <tr>
          <th><h2>Recipe Table</h2></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><app-recipe-table></app-recipe-table></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
